.cramer__navbar {
    display: flex;
    justify-content: space-between; /* Ensures even spacing */
    align-items: center;
    padding: 2rem 6rem;
}

.cramer__navbar-links_container {
    display: flex;
    flex: 1;
    justify-content: space-between; /* Evenly spaces links */
    align-items: center;
}

.cramer__navbar-links_logo {
    margin-right: 2rem;
}

.cramer__navbar-links_container a {
    color: #fff;
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 18px;
    line-height: 25px;
    text-transform: capitalize;
    margin: 0 1rem;
    cursor: pointer;
}

.cramer__navbar-sign button,
.cramer__navbar-menu_container button{
    padding: 0.5rem 1rem;
    color: #fff;
    background: #FF4820;
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 18px;
    line-height: 25px;
    border-radius: 5px;
    border: 0;
    outline: none;
    cursor: pointer;
}
